In [1]:
# District Summary

#     Calculate the total number of schools

#     Calculate the total number of students

#     Calculate the total budget

#     Calculate the average math score

#     Calculate the average reading score

#     Calculate the percentage of students with a passing math score (70 or greater)

#     Calculate the percentage of students with a passing reading score (70 or greater)

#     Calculate the percentage of students who passed math and reading (% Overall Passing)

#     Create a dataframe to hold the above results

#     Optional: give the displayed data cleaner formatting

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# school_data_complete.df
# student_data
# school_data.head()
#school_data_complete_df.head()

In [3]:
# #PDA
# school_data_complete_df.shape
# school_data_complete_df.describe()
# #
# school_data_complete_df.columns
 #school_data_complete_df.dtypes

In [4]:
total_students = school_data_complete_df["Student ID"].count()
#total_students

In [5]:
# total_schools_valuecounts = school_data_complete.df["School ID"].value_counts()
# total_schools = len(total_schools_valuecounts)
# total_schools
total_schools = len(school_data_complete_df["School ID"].value_counts())
#total_schools

In [6]:
total_budget_unique = school_data_complete_df["budget"].unique()
total_budget = total_budget_unique.sum()
#total_budget

In [7]:
# avg_math_score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_math_score
print(avg_math_score)
# avg_reading_score
avg_reading_score = school_data_complete_df["reading_score"].mean()
avg_reading_score
#print(avg_reading_score)

78.98537145774827

81.87784018381414

In [8]:
#school_data_complete_df['math_score']

In [9]:

stu_passng_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
#math_series = school_data_complete_df['math_score']

number_stu_pass_math = stu_passng_math.count()
#stu_passing_math_count = stu_passing_math.count()/total_students

stu_passng_math_pct = (number_stu_pass_math)/(total_students)*100

stu_passng_math_pct = stu_passng_math_pct.max()


stu_passng_math_pct

74.9808526933878

In [10]:

stu_passng_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,["reading_score"]]
number_stu_pass_reading = stu_passng_reading.count()
# stu_passing_math_count = stu_passing_math.count()/total_students

stu_passng_reading_pct = (number_stu_pass_reading)/(total_students)*100

stu_passng_reading_pct = stu_passng_reading_pct.max()
stu_passng_reading_pct

85.80546336482001

In [11]:
stu_passng_both = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) &
                                          (school_data_complete_df["reading_score"] >= 70)]
#print(stu_passng_both)

number_stu_overall_passng = stu_passng_both.count()
#print (number_stu_overall_passng)
stu_overall_passng_pct = (number_stu_overall_passng)/ (total_students)*100
stu_overall_passng_pct = stu_overall_passng_pct.max()
stu_overall_passng_pct

65.17232575950983

In [12]:
district_summary_df = pd.DataFrame(
    {"Total Schools": total_schools,
     "Total Students": total_students,
     "Total Budget": ["${:,.2f}".format(total_budget)], 
     "AVG Math Score": avg_math_score,
     "AVG Reading Score": avg_reading_score,
     "% Passing Math": [stu_passng_math_pct],
     "% Passing Reading": [stu_passng_reading_pct],
     "% Overall Passing": [stu_overall_passng_pct]     
     }
)
     
district_summary_df

,Total Schools,Total Students,Total Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
#school_data_complete_df.head()

In [14]:
#school_data_complete_df.columns
#school_data_complete_df.head()

In [15]:
school_num = school_data_complete_df["school_name"].value_counts()
school_num

school_num_count = school_num.count()
school_num_count

15

In [16]:
#school_data_complete_df.set_index("school_name")
#school_data_complete_df = school_data_complete_df.set_index("school_name")

#group schools by name
grouped_schools = school_data_complete_df.groupby(["school_name"])
#grouped_schools.count()

In [17]:
#Calc
#school_total_students
school_total_students = grouped_schools["Student ID"].count()
#print(school_total_students)

#school_type
school_type = grouped_schools["type"].unique()
#print(school_type)


# total_school_budget
total_school_budget = grouped_schools["budget"].mean()
#print(total_school_budget)

# df.style.format({"Average Price":"${:,.2f}",
                           #"Total Revenue": '${:,.2f}'})

# # per_student_budget
per_student_budget = (total_school_budget/school_total_students)
#print(per_student_budget)


# # school_avg_math_score
school_avg_math_score = grouped_schools["math_score"].mean()
#print(school_avg_math_score)

# # school_avg_reading_score
school_avg_reading_score = grouped_schools["reading_score"].mean()
#print(school_avg_reading_score)

In [18]:
# # school_stu_passng_math_pct
#school_stu_passng_math_pct = grouped_schools

school_stu_passng_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
#print(school_stu_passng_reading)

school_passng_math_number = school_stu_passng_math.groupby(["school_name"])["Student ID"].count()

school_passng_math_pct = (school_passng_math_number)/(school_total_students) * 100
#print(school_passng_math_pct)

In [19]:
# # school_stu_passng_reading_pct
# school_stu_passng_reading_pct = grouped_schools

school_stu_passng_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
#print(school_stu_passng_reading)

school_passng_reading_number = school_stu_passng_reading.groupby(["school_name"])["Student ID"].count()

school_passng_reading_pct = (school_passng_reading_number)/(school_total_students) * 100
#print(school_passng_reading_pct)

In [20]:
# # school_stu_overall_passng_pct
# school_stu_overall_passng_pct = grouped_schools

school_stu_passng_both = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) &
                                          (school_data_complete_df["reading_score"] >= 70)]
#print(school_stu_passng_both)

school_passng_both_number = school_stu_passng_both.groupby(["school_name"])["Student ID"].count()
#print(school_passng_both_number)

school_passng_both_pct = (school_passng_both_number)/(school_total_students) * 100
#print(school_passng_both_pct)

In [21]:
stu_passng_both = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) &
                                          (school_data_complete_df["reading_score"] >= 70)]
#print(stu_passng_both)

number_stu_overall_passng = stu_passng_both.count()
#print (number_stu_overall_passng)
stu_overall_passng_pct = (number_stu_overall_passng)/ (total_students)
print(stu_overall_passng_pct)

Student ID       0.651723
student_name     0.651723
gender           0.651723
grade            0.651723
school_name      0.651723
reading_score    0.651723
math_score       0.651723
School ID        0.651723
type             0.651723
size             0.651723
budget           0.651723
dtype: float64

In [22]:
school_summary_df = pd.DataFrame(
        {
         "School Type": school_type,
         "Total Students": school_total_students,
         "Total School Budget": total_school_budget, 
         "Per Student Budget": per_student_budget,
         "AVG Math Score": school_avg_math_score,
         "AVG Reading Score": school_avg_reading_score,
         "% Passing Math": school_passng_math_pct,
         "% Passing Reading": school_passng_reading_pct,
         "% Overall Passing": school_passng_both_pct
         }
)


# df.style.format({"Average Price":"${:,.2f}",
#                           "Total Revenue": '${:,.2f}'})

#["${:,.2f}".format(total_budget)]

#"% Passing Math": ["{:,.2}".format(school_passng_math_pct)],
#"% Passing Math": ["{:,.0%}".format(school_passng_math_pct)],

school_summary_df.head(3)

,School Type,Total Students,Total School Budget,Per Student Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476

In [23]:
#school_data_complete_df = school_data_complete_df.set_index("school_name")
# #school_data_complete_df = [["School Type", "Total Students", "Total School Budget", "Per Student Budget"]]

# organized_df =

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [24]:
Top5_Schools_df = school_summary_df.sort_values("% Overall Passing", ascending = False)
Top5_Schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [25]:
Bottom5_Schools_df = school_summary_df.sort_values("% Overall Passing")
Bottom5_Schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [26]:
#school_data_complete_df.head()

school_data_complete_df = school_data_complete_df.reset_index(drop=True)
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [27]:
#school_summary_df.head(2)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [28]:
# Separate Grades (9, 10, 11, 12)

math_avg_ninth_grade = school_data_complete_df.loc[school_data_complete_df["grade"] == "9th"]
#print(math_avg_ninth_grade)
math_avg_tenth_grade = school_data_complete_df.loc[school_data_complete_df["grade"] == "10th"]
math_avg_eleventh_grade = school_data_complete_df.loc[school_data_complete_df["grade"] == "11th"]
math_avg_twelfth_grade = school_data_complete_df.loc[school_data_complete_df["grade"] == "12th"]
print(math_avg_twelfth_grade)

       Student ID       student_name gender grade         school_name  \
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
7               7       Nicole Baker      F  12th   Huang High School
29             29       Nicole Brown      F  12th   Huang High School
...           ...                ...    ...   ...                 ...
39137       39137    Victoria Bailey      F  12th  Thomas High School
39144       39144   Cristian Webster      M  12th  Thomas High School
39154       39154    Bradley Johnson      M  12th  Thomas High School
39162       39162        Derek Weeks      M  12th  Thomas High School
39165       39165       Donna Howard      F  12th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
7                 96          69          0  District  2917  1910635
29                90          88          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39137             75          70         14   Charter  1635  1043130
39144             77          87         14   Charter  1635  1043130
39154             91          71         14   Charter  1635  1043130
39162             94          77         14   Charter  1635  1043130
39165             99          90         14   Charter  1635  1043130

[7899 rows x 11 columns]

In [29]:
# Group by School

school_math_avg_ninth_grade = math_avg_ninth_grade.groupby("school_name")
#school_math_avg_ninth_grade.head()
school_math_avg_tenth_grade = math_avg_tenth_grade.groupby("school_name")
school_math_avg_eleventh_grade = math_avg_eleventh_grade.groupby("school_name")
school_math_avg_twelfth_grade = math_avg_twelfth_grade.groupby("school_name")
school_math_avg_twelfth_grade.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37546,37546,Steven Hoover MD,M,12th,Thomas High School,90,81,14,Charter,1635,1043130
37547,37547,Amanda Hicks,F,12th,Thomas High School,77,74,14,Charter,1635,1043130
37551,37551,Nancy Mason,F,12th,Thomas High School,91,86,14,Charter,1635,1043130
37570,37570,Victoria Brown,F,12th,Thomas High School,87,95,14,Charter,1635,1043130
37571,37571,Michael Murphy,M,12th,Thomas High School,74,86,14,Charter,1635,1043130

In [30]:
# Find avg math score of each grade within school_name group

ninth_grade_math_avg = school_math_avg_ninth_grade["math_score"].mean()
tenth_grade_math_avg = school_math_avg_tenth_grade["math_score"].mean()
eleventh_grade_math_avg = school_math_avg_eleventh_grade["math_score"].mean()
twelfth_grade_math_avg = school_math_avg_twelfth_grade["math_score"].mean()

print(eleventh_grade_math_avg)

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [31]:
math_by_grade_summary_df = pd.DataFrame(
        {
         "9th": ninth_grade_math_avg,
         "10th": tenth_grade_math_avg,
         "11th": eleventh_grade_math_avg, 
         "12th": twelfth_grade_math_avg
          }
)

math_by_grade_summary_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [32]:
reading_avg_ninth_grade = school_data_complete_df.loc[school_data_complete_df["grade"] == "9th"]
#print(math_avg_ninth_grade)
reading_avg_tenth_grade = school_data_complete_df.loc[school_data_complete_df["grade"] == "10th"]
reading_avg_eleventh_grade = school_data_complete_df.loc[school_data_complete_df["grade"] == "11th"]
reading_avg_twelfth_grade = school_data_complete_df.loc[school_data_complete_df["grade"] == "12th"]
#print(reading_avg_twelfth_grade)

In [33]:
# Group by School

school_reading_avg_ninth_grade = reading_avg_ninth_grade.groupby("school_name")
#school_math_avg_ninth_grade.head()
school_reading_avg_tenth_grade = reading_avg_tenth_grade.groupby("school_name")
school_reading_avg_eleventh_grade = reading_avg_eleventh_grade.groupby("school_name")
school_reading_avg_twelfth_grade = reading_avg_twelfth_grade.groupby("school_name")
#school_reading_avg_twelfth_grade.head()

In [34]:
# Find avg reading score of each grade within school_name group

ninth_grade_reading_avg = school_math_avg_ninth_grade["reading_score"].mean()
tenth_grade_reading_avg = school_math_avg_tenth_grade["reading_score"].mean()
eleventh_grade_reading_avg = school_math_avg_eleventh_grade["reading_score"].mean()
twelfth_grade_reading_avg = school_math_avg_twelfth_grade["reading_score"].mean()

#print(eleventh_grade_reading_avg)

In [35]:
reading_by_grade_summary_df = pd.DataFrame(
        {
         "9th": ninth_grade_reading_avg,
         "10th": tenth_grade_reading_avg,
         "11th": eleventh_grade_reading_avg, 
         "12th": twelfth_grade_reading_avg
          }
)

reading_by_grade_summary_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [36]:
#school_summary_df = school_summary_df.reset_index(drop=True)
school_summary_df.head(1)

,School Type,Total Students,Total School Budget,Per Student Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.680064,81.93328,54.642283

In [47]:
#create the bins in which data will be held
# Bins are 0, 585, 630, 645, 680
bins = [0, 584.5, 629.5, 644.5, 680]

#create the namesfor the four bins
group_names = ["< 585", "$585-630", "$630-645", "$645-680"]

In [ ]:
school_summary_df["Spending Ranges(Per Student)"] = pd.cut(school_summary_df["Per Student Budget"],
                                                    bins, labels = group_names, include_lowest = True)


school_summary_df

In [58]:
#CALC VARIABLES  MEAN() OF GROUPED

school_summary_grouped_spending_df = school_summary_df.groupby(["Spending Ranges(Per Student)"])

ss_grp_spnd_math_score_avg = school_summary_grouped_spending_df["AVG Math Score"].mean()
ss_grp_spnd_reading_score_avg = school_summary_grouped_spending_df["AVG Reading Score"].mean()
ss_grp_spnd_math_pass_pct = school_summary_grouped_spending_df["% Passing Math"].mean()
ss_grp_spnd_reading_pass_pct = school_summary_grouped_spending_df["% Passing Reading"].mean()
ss_grp_spnd_overall_pass_pct = ((ss_grp_spnd_math_pass_pct) + (ss_grp_spnd_reading_pass_pct))/2

ss_grp_spnd_overall_pass_pct

Spending Ranges(Per Student)
< 585       95.035486
$585-630    89.925871
$630-645    78.938001
$645-680    73.649382
dtype: float64

In [62]:
school_summary_spending_df = pd.DataFrame(
                            {
                                "Average Math Score": ss_grp_spnd_math_score_avg,
                                "Average Reading Score": ss_grp_spnd_reading_score_avg,
                                "% Passing Math": ss_grp_spnd_math_pass_pct,
                                "% Passing Reading": ss_grp_spnd_reading_pass_pct,
                                "% Overall Passing": ss_grp_spnd_overall_pass_pct 
                             }
)

# per instructions >>> Overall Passing Rate (Average of the above two)
school_summary_spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
< 585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-630,81.899826,83.155286,87.133538,92.718205,89.925871
$630-645,78.518855,81.624473,73.484209,84.391793,78.938001
$645-680,76.997210,81.027843,66.164813,81.133951,73.649382

In [ ]:
# school_summary_grouped_spending_df = school_summary_df.groupby(["Spending Ranges(Per Student)"])


# school_summary_grouped_spending_df = school_summary_grouped_spending_df[["AVG Math Score", "AVG Reading Score",
#                                                                         "% Passing Math", "% Passing Reading", 
#                                                                         "% Overall Passing"]] 

# school_summary_grouped_spending_df.max()

In [ ]:
school_summary_df

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
school_data_complete_df = school_data_complete_df.reset_index(drop=True)
school_data_complete_df.head()

In [ ]:
#create the bins in which data will be held
# Bins are 0, 1000, 2000, 5000
bins = [0, 1000, 2000, 5000]

#create the namesfor the three bins
group_names = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

In [ ]:
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"],
                                                    bins, labels = group_names, include_lowest = True)


#school_summary_df

In [ ]:
school_summary_grouped_size_df = school_summary_df.groupby(["School Size"])


# school_summary_grouped_size_df = school_summary_grouped_size_df[["AVG Math Score", "AVG Reading Score",
#                                                                         "% Passing Math", "% Passing Reading", 
#                                                                         "% Overall Passing"]] 

# school_summary_grouped_size_df.max()

In [ ]:
#CALC VARIABLES  MEAN() OF GROUPED

school_summary_grouped_size_df = school_summary_df.groupby(["School Size"])

ss_grp_size_math_score_avg = school_summary_grouped_size_df["AVG Math Score"].mean()
ss_grp_size_reading_score_avg = school_summary_grouped_size_df["AVG Reading Score"].mean()
ss_grp_size_math_pass_pct = school_summary_grouped_size_df["% Passing Math"].mean()
ss_grp_size_reading_pass_pct = school_summary_grouped_size_df["% Passing Reading"].mean()
ss_grp_size_overall_pass_pct = ((ss_grp_size_math_pass_pct) + (ss_grp_size_reading_pass_pct))/2

ss_grp_size_overall_pass_pct

In [ ]:
school_summary_size_df = pd.DataFrame(
                            {
                                        
                                "Average Math Score": xxx,
                                "Average Reading Score": xxx,
                                "% Passing Math": xxxx,
                                "% Passing Reading": xxx,
                                "% Overall Passing": xxxx

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# school_summary_grouped_type_df = school_summary_df.groupby(["School Type"])


# #school_summary_grouped_type_df = school_summary_grouped_type_df[["AVG Math Score", "AVG Reading Score",
# #                                                                "%Passing Math", "%Passing Reading", 
# #                                                                "%Overall Passing"]] 

# school_summary_grouped_type_df.describe

In [ ]:

#school_summary_df = school_summary_df.set_index("School Type")
#school_summary_grouped_type_df = school_summary_df.groupby("School Type")


school_summary_df = school_data_complete_df.reset_index(drop=True)
# school_summary_grouped_type_df = school_summary_df.groupby("School Type")




# school_summary_grouped_type_df = school_summary_grouped_type_df[["AVG Math Score","AVG Reading Score",
#                                                             "% Passing Math", "% Passing Reading", 
#                                                             "% Overall Passing"]]

# school_summary_grouped_type_df.max()

# school_summary_grouped_type_df = school_summary_grouped_type_df[["AVG Math Score", "AVG Reading Score",
#                                                                 "% Passing Math", "% Passing Reading", 
#                                                                 "% Overall Passing"]]



# school_summary_grouped_type_df.mean()

In [ ]:
# ####  groupby giving error --- need to try process similar to "by 9,10...grade" to make pd.DataFrame with calc variables



# school_math_avg_ninth_grade = math_avg_ninth_grade.groupby("school_name")
# #school_math_avg_ninth_grade.head()
# school_math_avg_tenth_grade = math_avg_tenth_grade.groupby("school_name")
# school_math_avg_eleventh_grade = math_avg_eleventh_grade.groupby("school_name")
# school_math_avg_twelfth_grade = math_avg_twelfth_grade.groupby("school_name")
# school_math_avg_twelfth_grade.head()


# reading_by_grade_summary_df = pd.DataFrame(
#         {
#          "9th": ninth_grade_reading_avg,
#          "10th": tenth_grade_reading_avg,
#          "11th": eleventh_grade_reading_avg, 
#          "12th": twelfth_grade_reading_avg
#           }
school_summary_grouped_type_df = school_summary_df.groupby("School Type")

In [ ]:
school_summary_type_df = pd.DataFrame(
                            {
                                        
                                "Average Math Score": xxx,
                                "Average Reading Score": xxx,
                                "% Passing Math": xxxx,
                                "% Passing Reading": xxx,
                                "% Overall Passing": xxxx    
    
    
    
    
    
    
    
                             }
)