In [6]:
District Summary

    Calculate the total number of schools

    Calculate the total number of students

    Calculate the total budget

    Calculate the average math score

    Calculate the average reading score

    Calculate the percentage of students with a passing math score (70 or greater)

    Calculate the percentage of students with a passing reading score (70 or greater)

    Calculate the percentage of students who passed math and reading (% Overall Passing)

    Create a dataframe to hold the above results

    Optional: give the displayed data cleaner formatting

SyntaxError: invalid syntax (<ipython-input-6-62c1bebc1f47>, line 1)

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# school_data_complete.df
# student_data
# school_data.head()
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [46]:
# #PDA
# school_data_complete_df.shape
# school_data_complete_df.describe()
# #
# school_data_complete_df.columns
 #school_data_complete_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [9]:
total_students = school_data_complete_df["Student ID"].count()
total_students

39170

In [10]:
# total_schools_valuecounts = school_data_complete.df["School ID"].value_counts()
# total_schools = len(total_schools_valuecounts)
# total_schools
total_schools = len(school_data_complete_df["School ID"].value_counts())
total_schools

15

In [11]:
total_budget_unique = school_data_complete_df["budget"].unique()
total_budget = total_budget_unique.sum()
total_budget

24649428

In [12]:
# avg_math_score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_math_score
print(avg_math_score)
# avg_reading_score
avg_reading_score = school_data_complete_df["reading_score"].mean()
avg_reading_score
print(avg_reading_score)
# students_passing_math
# SPM = school_data_complete.df
#school_data_complete.df["Students Passing Math"
######
# students_passing_reading

#school_data_complete.df["Students Passing Reading"
#####
# total_students
# %_students_passing_math
# %_students_passing_reading

78.98537145774827
81.87784018381414

In [13]:
school_data_complete_df['math_score']

0        79
1        61
2        60
3        58
4        84
         ..
39165    90
39166    70
39167    84
39168    90
39169    75
Name: math_score, Length: 39170, dtype: int64

In [14]:

stu_passng_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,["math_score"]]
#math_series = school_data_complete_df['math_score']

# print(math_series)
#stu_passng_math = math_series >= 70

print(stu_passng_math)

# # stu_passing_math = school_data_complete_df["math_score"] >= 70

number_stu_pass_math = stu_passng_math.count()
#stu_passing_math_count = stu_passing_math.count()/total_students

stu_passng_math_pct = (number_stu_pass_math)/(total_students)
# # stu_passing_math_pct
#print(number_stu_pass_math)
stu_passng_math_pct

       math_score
0              79
4              84
5              94
6              80
8              87
...           ...
39165          90
39166          70
39167          84
39168          90
39169          75

[29370 rows x 1 columns]

math_score    0.749809
dtype: float64

In [15]:

stu_passng_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,["reading_score"]]
number_stu_pass_reading = stu_passng_reading.count()
# stu_passing_math_count = stu_passing_math.count()/total_students

stu_passng_reading_pct = (number_stu_pass_reading)/(total_students)
# stu_passing_math_pct
print(number_stu_pass_reading)
stu_passng_reading_pct

reading_score    33610
dtype: int64

reading_score    0.858055
dtype: float64

In [47]:
stu_passng_both = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) &
                                          (school_data_complete_df["reading_score"] >= 70)]
#print(stu_passng_both)

number_stu_overall_passng = stu_passng_both.count()
#print (number_stu_overall_passng)
stu_overall_passng_pct = (number_stu_overall_passng)/ (total_students)
print(stu_overall_passng_pct)

Student ID       0.651723
student_name     0.651723
gender           0.651723
grade            0.651723
reading_score    0.651723
math_score       0.651723
School ID        0.651723
type             0.651723
size             0.651723
budget           0.651723
dtype: float64

In [17]:
#OvERAll Passing PcT  
# count of Students that passed Math AND Reading / Total Students
 
#number_stu_pass_math and number_stu_pass_reading

In [18]:
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools],
     "Total Students": [total_students],
     "Total Budget": ["${:,.2f}".format(total_budget)], 
     "AVG Math Score": [avg_math_score],
     "AVG Reading Score": [avg_reading_score],
     "% Passing Math": [stu_passng_math_pct],
     #"% Passing Math": ["{:,.2}".format(stu_passng_math_pct)],
     #"% Passing Math": ["{:,.0%}".format(stu_passng_math_pct)],
     "% Passing Reading": [stu_passng_reading_pct],
     "% Overall Passing": [stu_overall_passng_pct]
     
    }
)
                                      
district_summary_df

,Total Schools,Total Students,Total Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,math_score 0.749809 dtype: float64,reading_score 0.858055 dtype: float64,Student ID 0.651723 student_name 0.6...

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [19]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [21]:
school_num = school_data_complete_df["school_name"].value_counts()
school_num

school_num_count = school_num.count()
school_num_count

15

In [32]:
#school_data_complete_df.set_index("school_name")
#school_data_complete_df = school_data_complete_df.set_index("school_name")


#group schools by name
grouped_schools = school_data_complete_df.groupby(["school_name"])
grouped_schools.count()


# grouped_schools = school_data_complete_df.groupby(["school_name", "type"])
# grouped_schools.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [23]:
#Calc
#school_total_students
school_total_students = grouped_schools["Student ID"].count()
#print(school_total_students)

#school_type
school_type = grouped_schools["type"].unique()
#print(school_type)


# total_school_budget
total_school_budget = grouped_schools["budget"].mean()
#print(total_school_budget)

# # per_student_budget
per_student_budget = (total_school_budget/school_total_students)
#print(per_student_budget)


# # school_avg_math_score
school_avg_math_score = grouped_schools["math_score"].mean()
print(school_avg_math_score)

# # school_avg_reading_score
school_avg_reading_score = grouped_schools["reading_score"].mean()
print(school_avg_reading_score)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
# # school_stu_passng_math_pct
#school_stu_passng_math_pct = grouped_schools

school_stu_passng_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
#print(school_stu_passng_reading)

school_passng_math_number = school_stu_passng_math.groupby(["school_name"])["Student ID"].count()

school_passng_math_pct = (school_passng_math_number)/(school_total_students) * 100
print(school_passng_math_pct)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [ ]:
# # school_stu_passng_reading_pct
# school_stu_passng_reading_pct = grouped_schools

school_stu_passng_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
#print(school_stu_passng_reading)

school_passng_reading_number = school_stu_passng_reading.groupby(["school_name"])["Student ID"].count()

school_passng_reading_pct = (school_passng_reading_number)/(school_total_students) * 100
print(school_passng_reading_pct)

In [44]:
# # school_stu_overall_passng_pct
# school_stu_overall_passng_pct = grouped_schools

school_stu_passng_both = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) &
                                          (school_data_complete_df["reading_score"] >= 70)]
#print(school_stu_passng_both)

school_passng_both_number = school_stu_passng_both.groupby(["school_name"])["Student ID"].count()
#print(school_passng_both_number)

school_passng_both_pct = (school_passng_both_number)/(school_total_students) * 100
print(school_passng_both_pct)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [ ]:
stu_passng_both = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) &
                                          (school_data_complete_df["reading_score"] >= 70)]
#print(stu_passng_both)

number_stu_overall_passng = stu_passng_both.count()
#print (number_stu_overall_passng)
stu_overall_passng_pct = (number_stu_overall_passng)/ (total_students)
print(stu_overall_passng_pct)

In [51]:
school_summary_df = pd.DataFrame(
        {
         "School Type": school_type,
         "Total Students": school_total_students,
         "Total School Budget": total_school_budget, 
         "Per Student Budget": per_student_budget,
         "AVG Math Score": school_avg_math_score,
         "AVG Reading Score": school_avg_reading_score,
         "% Passing Math": school_passng_math_pct,
         "% Passing Reading": school_passng_reading_pct,
         "% Overall Passing": school_passng_both_pct
         }
)

#["${:,.2f}".format(total_budget)]

#"% Passing Math": ["{:,.2}".format(school_passng_math_pct)],
#"% Passing Math": ["{:,.0%}".format(school_passng_math_pct)],

school_summary_df.head(10)

,School Type,Total Students,Total School Budget,Per Student Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [ ]:
#school_data_complete_df = school_data_complete_df.set_index("school_name")
# #school_data_complete_df = [["School Type", "Total Students", "Total School Budget", "Per Student Budget"]]

# organized_df =

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
student_data.head()

In [ ]:
school_data.head()

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type