In [ ]:
District Summary

    Calculate the total number of schools

    Calculate the total number of students

    Calculate the total budget

    Calculate the average math score

    Calculate the average reading score

    Calculate the percentage of students with a passing math score (70 or greater)

    Calculate the percentage of students with a passing reading score (70 or greater)

    Calculate the percentage of students who passed math and reading (% Overall Passing)

    Create a dataframe to hold the above results

    Optional: give the displayed data cleaner formatting

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# school_data_complete.df
# student_data
# school_data.head()
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
# #PDA
# school_data_complete_df.shape
# school_data_complete_df.describe()
# #
# school_data_complete_df.columns
# school_data_complete_df.dtypes

In [13]:
total_students = school_data_complete_df["Student ID"].count()
total_students

39170

In [14]:
# total_schools_valuecounts = school_data_complete.df["School ID"].value_counts()
# total_schools = len(total_schools_valuecounts)
# total_schools
total_schools = len(school_data_complete_df["School ID"].value_counts())
total_schools

15

In [15]:
total_budget_unique = school_data_complete_df["budget"].unique()
total_budget = total_budget_unique.sum()
total_budget

24649428

In [16]:
# avg_math_score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_math_score
print(avg_math_score)
# avg_reading_score
avg_reading_score = school_data_complete_df["reading_score"].mean()
avg_reading_score
print(avg_reading_score)
# students_passing_math
# SPM = school_data_complete.df
#school_data_complete.df["Students Passing Math"
######
# students_passing_reading

#school_data_complete.df["Students Passing Reading"
#####
# total_students
# %_students_passing_math
# %_students_passing_reading

78.98537145774827
81.87784018381414

In [17]:
school_data_complete_df['math_score']

0        79
1        61
2        60
3        58
4        84
         ..
39165    90
39166    70
39167    84
39168    90
39169    75
Name: math_score, Length: 39170, dtype: int64

In [18]:

stu_passng_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,["math_score"]]
#math_series = school_data_complete_df['math_score']

# print(math_series)
#stu_passng_math = math_series >= 70

print(stu_passng_math)

# # stu_passing_math = school_data_complete_df["math_score"] >= 70

number_stu_pass_math = stu_passng_math.count()
#stu_passing_math_count = stu_passing_math.count()/total_students

stu_passng_math_pct = (number_stu_pass_math)/(total_students)
# # stu_passing_math_pct
#print(number_stu_pass_math)
stu_passng_math_pct

       math_score
0              79
4              84
5              94
6              80
8              87
...           ...
39165          90
39166          70
39167          84
39168          90
39169          75

[29370 rows x 1 columns]

math_score    0.749809
dtype: float64

In [19]:
#stu_passng_reading = school_data_complete_df.iloc[school_data_complete_df[ : ,6] >= 70]

stu_passng_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,["reading_score"]]
number_stu_pass_reading = stu_passng_reading.count()
# stu_passing_math_count = stu_passing_math.count()/total_students

stu_passng_reading_pct = (number_stu_pass_reading)/(total_students)
# stu_passing_math_pct
print(number_stu_pass_reading)
stu_passng_reading_pct

reading_score    33610
dtype: int64

reading_score    0.858055
dtype: float64

In [20]:
stu_passng_both = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) &
                                          (school_data_complete_df["reading_score"] >= 70)]
#print(stu_passng_both)

number_stu_overall_passng = stu_passng_both.count()
#print (number_stu_overall_passng)
stu_overall_passng_pct = (number_stu_overall_passng)/ (total_students)
print(stu_overall_passng_pct)

# school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,["reading_score"]]

# print(stu_passng_both)

Student ID       0.651723
student_name     0.651723
gender           0.651723
grade            0.651723
school_name      0.651723
reading_score    0.651723
math_score       0.651723
School ID        0.651723
type             0.651723
size             0.651723
budget           0.651723
dtype: float64

In [21]:
#OvERAll Passing PcT  
# count of Students that passed Math AND Reading / Total Students
 
#number_stu_pass_math and number_stu_pass_reading

In [22]:
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools],
     "Total Students": [total_students],
     "Total Budget": ["${:,.2f}".format(total_budget)], 
     "AVG Math Score": [avg_math_score],
     "AVG Reading Score": [avg_reading_score],
     "% Passing Math": [stu_passng_math_pct],
     #"% Passing Math": ["{:,.2}".format(stu_passng_math_pct)],
     #"% Passing Math": ["{:,.0%}".format(stu_passng_math_pct)],
     "% Passing Reading": [stu_passng_reading_pct],
     "% Overall Passing": [stu_overall_passng_pct]
     
    }
)
                                      
district_summary_df

,Total Schools,Total Students,Total Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,math_score 0.749809 dtype: float64,reading_score 0.858055 dtype: float64,Student ID 0.651723 student_name 0.6...

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [23]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [24]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [25]:
# school_summary_df = (['School Name','type', 'Totaludget', 'Student ID', 'student_name', 'gender', 'grade', 'reading_score',
#        'math_score', 'School ID', , 'size', ])

In [33]:
school_num = school_data_complete_df["school_name"].value_counts()
school_num

school_num_count = school_num.count()
school_num_count

15

In [42]:
#group schools by name
grouped_schools = school_data_complete_df.groupby(["school_name", "type"])
grouped_schools.count()

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,427,427,427,427,427,427,427,427
Huang High School,District,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,962,962,962,962,962,962,962,962
Rodriguez High School,District,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [55]:
#Calc
#school_total_students
school_total_students = grouped_schools['Student ID'].count()
#print(school_total_students)

#school_type
school_type = grouped_schools['type'].unique()
#print(school_type)


# total_school_budget
total_school_budget = grouped_schools['budget'].mean()
#print(total_school_budget)

# # per_student_budget
per_student_budget = (total_school_budget/school_total_students)
print(per_student_budget)

# per_student_budget = grouped_schools

# # school_avg_math_score
# school_avg_math_score = grouped_schools

# # school_avg_reading_score
# school_avg_reading_score = grouped_schools

# # school_stu_passng_math_pct
# school_stu_passng_math_pct = grouped_schools

# # school_stu_passng_reading_pct
# school_stu_passng_reading_pct = grouped_schools

# # school_stu_overall_passng_pct
# school_stu_overall_passng_pct = grouped_schools

school_name            type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [ ]:
school_summary_df = pd.DataFrame(
    #{"School Type": [school_type],
     "Total Students": [school_total_students],
     "Total School Budget": ["${:,.2f}".format(total_school_budget)],
#      "Per Student Budget": [per_student_budget]
#      "AVG Math Score": [school_avg_math_score],
#      "AVG Reading Score": [school_avg_reading_score],
#      "% Passing Math": [school_stu_passng_math_pct],
#      #"% Passing Math": ["{:,.2}".format(stu_passng_math_pct)],
#      #"% Passing Math": ["{:,.0%}".format(stu_passng_math_pct)],
#      "% Passing Reading": [school_stu_passng_reading_pct],
#      "% Overall Passing": [school_stu_overall_passng_pct]
     
    }
)
                                      
school_summary_df

In [ ]:
# school_data_complete_df = school_data_complete_df.set_index("school_name")
# #school_data_complete_df = [["School Type", "Total Students", "Total School Budget", "Per Student Budget"]]

# organized_df =

In [ ]:
print(1910635/2917)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
student_data.head()

In [ ]:
school_data.head()

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type