### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# school_data_complete.df
# student_data
# school_data.head()
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
#PDA
school_data_complete_df.shape

(39170, 11)

In [10]:
#PDA
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [11]:
#PDA
school_data_complete_df.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [12]:
#
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [13]:
school_data_complete_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [14]:
total_students = school_data_complete_df["Student ID"].count()
total_students

39170

In [15]:
# total_schools_valuecounts = school_data_complete.df["School ID"].value_counts()
# total_schools = len(total_schools_valuecounts)
# total_schools
total_schools = len(school_data_complete_df["School ID"].value_counts())
total_schools

15

In [ ]:
# total_budget_valuecounts = school_data_complete.df["budget"].unique()
# total_budget_unique = total_budget_valuecounts.unique
# total_budget = total_budget_unique.sum()
# total_budget
# total_budget_valuecounts
# #total_budget_valuecounts_sum

In [16]:
total_budget_unique = school_data_complete_df["budget"].unique()
total_budget = total_budget_unique.sum()
total_budget

24649428

In [17]:
# avg_math_score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_math_score
print(avg_math_score)
# avg_reading_score
avg_reading_score = school_data_complete_df["reading_score"].mean()
avg_reading_score
print(avg_reading_score)
# students_passing_math
# SPM = school_data_complete.df
#school_data_complete.df["Students Passing Math"
######
# students_passing_reading

#school_data_complete.df["Students Passing Reading"
#####
# total_students
# %_students_passing_math
# %_students_passing_reading

78.98537145774827
81.87784018381414

In [18]:
school_data_complete_df['math_score']

0        79
1        61
2        60
3        58
4        84
         ..
39165    90
39166    70
39167    84
39168    90
39169    75
Name: math_score, Length: 39170, dtype: int64

In [29]:

stu_passng_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,["math_score"]]
#math_series = school_data_complete_df['math_score']

# print(math_series)
#stu_passng_math = math_series >= 70

print(stu_passng_math)

# # stu_passing_math = school_data_complete_df["math_score"] >= 70

number_stu_pass_math = stu_passng_math.count()
#stu_passing_math_count = stu_passing_math.count()/total_students

stu_passng_math_pct = (number_stu_pass_math)/(total_students)
# # stu_passing_math_pct
print(number_stu_pass_math)
stu_passng_math_pct

       math_score
0              79
4              84
5              94
6              80
8              87
...           ...
39165          90
39166          70
39167          84
39168          90
39169          75

[29370 rows x 1 columns]
math_score    29370
dtype: int64

math_score    0.749809
dtype: float64

In [21]:
#stu_passng_reading = school_data_complete_df.iloc[school_data_complete_df[ : ,6] >= 70]

stu_passng_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,["reading_score"]]
number_stu_pass_reading = stu_passng_reading.count()
# stu_passing_math_count = stu_passing_math.count()/total_students

stu_passng_reading_pct = (number_stu_pass_reading)/(total_students)
# stu_passing_math_pct
print(number_stu_pass_reading)
stu_passng_reading_pct

reading_score    33610
dtype: int64

reading_score    0.858055
dtype: float64

In [31]:
# stu_passng_both = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,["math_score"]]

# if (school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70) & \
#     (school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70):
#     add together / total_students  *
# else: x


stu_overall_passng_pct = 50
print(stu_overall_passng_pct)

# school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,["reading_score"]]

# print(stu_passng_both)

50

In [32]:
district_summary_df = pd.DataFrame(
    {"Total Schools": [total_schools],
     "Total Students": [total_students],
     "Total Budget": [total_budget],
     "AVG Math Score": [avg_math_score],
     "AVG Reading Score": [avg_reading_score],
     "% Passing Math": [stu_passng_math_pct],
     "% Passing Reading": [stu_passng_reading_pct],
     "% Overall Passing": [stu_overall_passng_pct]
     
    }
)
#     district_summary_df['Total Schools'] = df['Total Schools'].map('{:,.2f}'.format)
# district_summary_df['Total Students'] = df['Total Students'].map('{:,.2f}'.format)
# district_summary_df['Total Budget'] = df['Total Budget'].map('{:,.2f}'.format)
# district_summary_df['AVG Math Score'] = df['AVG Math Score'].map('{:,.2f}'.format)
# district_summary_df['AVG Reading Score'] = df['AVG Reading Score'].map('{:,.2f}'.format)
# district_summary_df['% Passing Math'] = df['% Passing Math'].map('{:,.2f}'.format)
# district_summary_df['% Passing Reading"'] = df['% Passing Reading"'].map('{:,.2f}'.format)
# district_summary_df['% Overall Passing'] = df['% Overall Passing'].map('{:,.2f}'.format)d


district_summary_df

,Total Schools,Total Students,Total Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,math_score 0.749809 dtype: float64,reading_score 0.858055 dtype: float64,50

In [3]:
district_summary_df['Total Schools'] = df['Total Schools'].map('{:,.2f}'.format)
district_summary_df['Total Students'] = df['Total Students'].map('{:,.2f}'.format)
district_summary_df['Total Budget'] = df['Total Budget'].map('{:,.2f}'.format)
district_summary_df['AVG Math Score'] = df['AVG Math Score'].map('{:,.2f}'.format)
district_summary_df['AVG Reading Score'] = df['AVG Reading Score'].map('{:,.2f}'.format)
district_summary_df['% Passing Math'] = df['% Passing Math'].map('{:,.2f}'.format)
district_summary_df['% Passing Reading"'] = df['% Passing Reading"'].map('{:,.2f}'.format)
district_summary_df['% Overall Passing'] = df['% Overall Passing'].map('{:,.2f}'.format)d

district_summary_df
# district_summary_df['Adj Close'] = df['Adj Close'].map('{:,.2f}'.format)

SyntaxError: invalid syntax (<ipython-input-3-16046a933962>, line 6)

In [ ]:
#OvERAll Passing PcT  
# count of Students that passed Math AND Reading / Total Students
 
#number_stu_pass_math and number_stu_pass_reading

In [ ]:
District Summary

    Calculate the total number of schools

    Calculate the total number of students

    Calculate the total budget

    Calculate the average math score

    Calculate the average reading score

    Calculate the percentage of students with a passing math score (70 or greater)

    Calculate the percentage of students with a passing reading score (70 or greater)

    Calculate the percentage of students who passed math and reading (% Overall Passing)

    Create a dataframe to hold the above results

    Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type